.customize-partial-edit-shortcut-menu-background-color {
  right: 1rem;
  top: 1rem;
}


.customize-partial-edit-shortcut-hero-features-list {
  top: -2rem;
  right: -2rem;
}

.customize-partial-edit-shortcut-hero-image {
  right: 1rem;
  top: 1rem;
}


.customize-partial-edit-shortcut-menu-profile-image {

  left: 50%;

}

.customize-partial-edit-shortcut-menu-footer-color {
  right: 1rem;
}